<div class="demo-section">
  <!--Component demo-->
  <p>test-component works!</p>
</div>

<div class="demo-section">
  <!--Interpolation demo-->
  <p>Testing interpolation: {{ interpolationDemo }}</p>
</div>

<div class="demo-section">
  <!--Event demo-->
  <button (click)="handleClick()">Click me</button>
  <p>The button has been clicked {{ count }} times</p>
</div>

<div class="demo-section">
  <!--Property binding demo-->
  <p>You can only click this button once</p>
  <button [disabled]="clicked" (click)="disableAfterClick()">Click me</button>
</div>

<div class="demo-section">
  <!--Directive demo-->
  <h2>This is directive demo</h2>
  <ul>
      <!-- @for (course of courses; track $index) {
        <li>{{ course }}</li>
      }  -->
      <p>Uncomment to see the result</p>
  </ul>
</div>

<div class="demo-section">
  <!--Service and dependency injection demo-->
  <h2>This is service and dependency injection demo</h2>
  <ul>
      @for (course of serviceCourses; track $index) {
        <li>{{ course }}</li>
      }
  </ul>
</div>

<div class="demo-section">
  <!--API demo-->
  <h2>This is an api demo</h2>
  <button (click)="getData()">Fetch Data</button> 
  @if (data != null) {
    <p>
      ID: {{ data.id }}<br>
      Title: {{ data.title }}<br>
      Completed: {{ data.completed }}
    </p>
  }
</div>

<div class="demo-section">
  <!--Signal demo-->
  <h2>This is a signal demo</h2>
  <input type="text" [value]="title()" (keyup)="changeText($event)">
  {{ title() }}
</div>

<div class="demo-section">
  <!--Rxjs demo-->
  <h2>This is a Rxjs demo</h2>
  <button id="clickButton">Click me!</button>
  <p>{{clickMessage}}</p>
</div>

<div class="demo-section">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">username</label>
      <input
        type="text"
        class="input"
        formControlName="username"
        [class.invalid]="
          registerForm.get('username')?.invalid &&
          (registerForm.get('username')?.dirty ||
            registerForm.get('username')?.touched ||
            isSubmitted)
        "
      />
      @if (registerForm.get('username')?.hasError('required') &&
      (registerForm.get('username')?.dirty ||
        registerForm.get('username')?.touched ||
        isSubmitted)) {
          <span class="error">This field is required.</span>
        }
    </div>
    <div class="field">
      <label class="label">email</label>
      <input
        type="text"
        class="input"
        formControlName="email"
        [class.invalid]="
          registerForm.get('email')?.invalid &&
          (registerForm.get('email')?.dirty ||
            registerForm.get('email')?.touched ||
            isSubmitted)
        "
      />
    </div>
    <div class="field">
      <label class="label">password</label>
      <input
        type="text"
        class="input"
        formControlName="password"
        [class.invalid]="
          registerForm.get('password')?.invalid &&
          (registerForm.get('password')?.dirty ||
            registerForm.get('password')?.touched ||
            isSubmitted)
        "
      />
    </div>

    <select formControlName="roleId">
      @for (role of roles; track $index) {
        <option>
          {{ role.title }}
        </option>
      }
      
    </select>

    <div>
      <button type="submit" class="button">Register</button>
    </div>
  </form>
</div>